<div class="toolbar" role="banner">
    <img src="https://i.ibb.co/CBjJZ5B/logo.png" alt="Logo"  width="50px"     height="45px"   style="float: right;" id="logo">
    <span class="SS">Self-study</span>
  
    <div class="spacer"></div>
    <ul class="nav-bar">
  
      <li class="nav-option">
        <a class="nav-option" [routerLink]="['/study-tips']">
          Study Tips
        </a>
      </li>
      <li class="nav-option">
        <a class="nav-option" [routerLink]="['/about']">
          About
        </a>
      </li>
      <li class="nav-option">
        <a class="nav-option" [routerLink]="['/']">
          Home
        </a>
      </li>
    </ul>
    <span>
          <fieldset class="nav-option-after">
              <a class="nav-option-after-a" [routerLink]="['/sign-in']">
                  Sign in
              </a>
          </fieldset>
      </span>
</div>
<div class="main">
    <p class="paragraph1">
        The Team
    </p>
    <div class="paragraph2">
        <li class="lan"><img src="https://ic.wampi.ru/2023/04/28/photo_2023-04-28_20-47-18.jpg" width="200" class="photo"></li>
        <li class="lan"><img src="https://ie.wampi.ru/2023/04/28/photo_2023-04-28_23-29-49.jpg" width="200" class="photo"></li>
        <li class="lan"><img src="https://ic.wampi.ru/2023/04/28/IMG_1686-3.jpg" width="200" class="photo"></li>
    </div>
</div>
<div>
    <p id="d"><th>Baurzhan Dilnaz</th><br>I was born in small town Uralsk,Kazakhstan. I love planning everything, using my time 
        efficiently and The Self-Study helps me with this.</p>
    <p id="b"><th>Onalbekov Bakbergen</th><br>I am responsible, proactive, stress-resistant, sociable, honest. My strengths are good 
        managerial and leadership skills, customer orientation, system thinking, positive attitude. I don't drink, I don't smoke.</p>
    <p id="n"><th>Bayandina Nazerke</th><br>I was born in Almaty and live here. I changed 5 schools. I was always transferred only 
        to a good school. I studied at 39 lyceums in grades 5-7, graduated from grades 8-11 at RFMSH. Then I entered KBTU. The correct
         use of my time helped me achieve this success. The most effective thing for him is to write down all the work and do it on time.</p>
</div>
<div class="footer">
    <hr id="line1">
    <p class="meta">Self-Study ©2023 | All Rights Reserved</p>
    <hr id="line2">
</div>
