<div class="toolbar" role="banner">
    <img src="https://i.ibb.co/CBjJZ5B/logo.png" alt="Logo" width="50px" height="45px" style="float: right;" id="logo">
    <span class="SS">Self-study</span>

    <div class="spacer"></div>
    <span>
        <fieldset class="nav-option-after">
            <a class="nav-option-after-a" [routerLink]="['/accaunt']">
                Profile
            </a>
        </fieldset>
    </span>
    <span>
        <fieldset class="nav-option-after">
            <a class="nav-option-after-a" [routerLink]="['/']">
                Sign out
            </a>
        </fieldset>
    </span>
</div>
<div class="main">
    <p class="paragraph1">
        <img src="https://cdn-icons-png.flaticon.com/512/4989/4989881.png" alt="Сheck mark icon" width="30" height="30">
        Manage your classes, tasks and exams
    </p>


    <h1 style="-webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1f2a52;
 ">
        Never Forget a Class or Assignment <br>Again - Digital School Organizer
    </h1>

</div>
<div class="buttons">
    <button class="lan"><a [routerLink]="['/to-do']"><img src="https://cdn-icons-png.flaticon.com/512/5194/5194962.png"
                width="50" class="logo1">To-Do</a></button>
    <button class="lan"><a [routerLink]="['/tasks']"><img src="https://cdn-icons-png.flaticon.com/512/1441/1441035.png"
                width="50" class="logo1">Tasks</a></button>
    <button class="lan"><a [routerLink]="['/calendar']"><img
                src="https://cdn-icons-png.flaticon.com/512/2343/2343668.png" width="50"
                class="logo1">Calendar</a></button>
</div>