<div class="toolbar" role="banner">
    <img src="https://i.ibb.co/CBjJZ5B/logo.png" alt="Logo" width="50px" height="45px" style="float: right;" id="logo">
    <span class="SS">Self-study</span>
    <div class="spacer"></div>
    <ul class="nav-bar">

        <li class="nav-option">
            <a class="nav-option" [routerLink]="['/study-tips']">
                Study Tips
            </a>
        </li>
        <li class="nav-option">
            <a class="nav-option" [routerLink]="['/about']">
                About
            </a>
        </li>
        <li class="nav-option">
            <a class="nav-option" [routerLink]="['/']">
                Home
            </a>
        </li>
    </ul>
    <span>
        <fieldset class="nav-option-after">
            <a class="nav-option-after-a" [routerLink]="['/sign-in']">
                Sign in
            </a>
        </fieldset>
    </span>
</div>

<h2>  There are an infinite number of programming languages. We have chosen training courses in the most popular programming languages and only from a proven online site that provides training for both novice programmers <br>and already well-deserved code virtuosos.</h2>>
<a href="https://www.w3schools.com/cpp/default.asp" id="c"><img src="https://abrudz.github.io/logos/CPlusPlus.svg" width="220"></a>
<a href="https://www.w3schools.com/cpp/default.asp" id="c1">Learn C++</a>
<a href="https://www.w3schools.com/python/default.asp" id="python"><img src="https://abrudz.github.io/logos/Python.svg" width="220"></a>
<a href="https://www.w3schools.com/cpp/default.asp" id="python1">Learn Python</a>
<a href="https://www.w3schools.com/java/default.asp" id="java"><img src="https://abrudz.github.io/logos/Java.svg" width="220"></a>
<a href="https://www.w3schools.com/cpp/default.asp" id="java1">Learn Java</a>
<a href="https://www.w3schools.com/js/default.asp" id="javascript"><img src="https://abrudz.github.io/logos/JS.svg" width="220"></a>
<a href="https://www.w3schools.com/cpp/default.asp" id="javascript1">Learn Javascript</a>

<div class="footer">
    <hr id="line1">
    <p class="meta">Self-Study ©2023 | All Rights Reserved</p>
    <hr id="line2">
</div>
